.button_black{
    display: inline-block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #000; 
    background-color: #fff; 
    border-color: #f8f9fa; 
}
.button_black:hover {
    color: #ffffff; 
    background-color: #000000; 
    border-color: #000; 
    transition: all 0.3s ease;
}

.button-magenta{
    display: inline-block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #fff; 
    background-color: #fb226b; 
    border-color: #fb226b; 
}

.button-cyan{
    display: inline-block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #00bec7; 
    background-color: #fff; 
    border-color: #00bec7; 
}
.button-cyan:hover{
    color: #ffffff; 
    background-color: #00bec7; 
    border-color: #00bec7; 
    transition: all 0.3s ease;
}

.button-delete {
    width: 50px; /* Diámetro inicial de la circunferencia */
    height: 50px; /* Diámetro inicial de la circunferencia */
    border-radius: 50%; /* Hacer el botón circular */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid transparent;
    transition: width 0.5s, height 0.5s, border-radius 0.5s;
    color: #fff;
    background-color: #E80D0D; /* Color de fondo del botón */
    border-color: #E80D0D;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
}
.button-delete:hover {
    width: 320px; /* Ancho del botón expandido */
    height: 50px; /* Altura del botón expandido */
    border-radius: 25px; /* Redondear los extremos del botón expandido */
    color: #fff;
    background-color: #E80D0D; /* Color de fondo del botón */
    border-color: #E80D0D;
    transition: all 0.3s ease;
}

.texto {
    display: none; /* Ocultar el texto por defecto */
}

.caracter {
    font-size: 24px; /* Tamaño del carácter dentro del botón */
    margin-right: 5px;
}

.button-delete:hover .texto {
    display: inline; /* Mostrar el texto cuando se hace hover */
}
.button-delete:hover .caracter{
    display: none;
}

.button-add {
    width: 50px; /* Diámetro inicial de la circunferencia */
    height: 50px; /* Diámetro inicial de la circunferencia */
    border-radius: 50%; /* Hacer el botón circular */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid transparent;
    transition: width 0.5s, height 0.5s, border-radius 0.5s;
    color: #fff;
    background-color: #63b51a; /* Color de fondo del botón */
    border-color: #63b51a;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
}
.button-add:hover {
    width: 320px; /* Ancho del botón expandido */
    height: 50px; /* Altura del botón expandido */
    border-radius: 25px; /* Redondear los extremos del botón expandido */
    color: #fff;
    background-color: #63b51a; /* Color de fondo del botón */
    border-color: #63b51a;
    transition: all 0.3s ease;
}
.button-add:hover .texto {
    display: inline; /* Mostrar el texto cuando se hace hover */
}
.button-add:hover .caracter{
    display: none;
}

.button-edit {
    width: 50px; /* Diámetro inicial de la circunferencia */
    height: 50px; /* Diámetro inicial de la circunferencia */
    border-radius: 50%; /* Hacer el botón circular */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid transparent;
    transition: width 0.5s, height 0.5s, border-radius 0.5s;
    color: #fff;
    background-color: #03c2ca; /* Color de fondo del botón */
    border-color: #03c2ca;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
}
.button-edit:hover {
    width: 320px; /* Ancho del botón expandido */
    height: 50px; /* Altura del botón expandido */
    border-radius: 25px; /* Redondear los extremos del botón expandido */
    color: #fff;
    background-color: #03c2ca; /* Color de fondo del botón */
    border-color: #03c2ca;
    transition: all 0.3s ease;
}
.button-edit:hover .texto {
    display: inline; /* Mostrar el texto cuando se hace hover */
}
.button-edit:hover .caracter{
    display: none;
}

.contenido {
    display: flex;
    align-items: center;
}