#border-login{
    border:2px solid #fb226b;
}

.item-div{
    display: flex;
    justify-content: space-evenly;
}
.item-div-lg{
    display: flex;
    justify-content: space-between;
}

.item-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-color-magenta{
    background-color: #fb226b;
}
.bg-color-darkmagenta{
    background-color: #db1d5d;
}

.bg-color-gray{
    background-color: #3b3b3b;
    color: #c2c2c2;
}