#border-login{
    border:2px solid #fb226b;
}

.max{
    max-width: 700px;
    width: 100%;
}
.max-tabla{
    max-width: 700px;
    width: auto;
}

.modal-xl {
    max-width: 1000px;
    width: 100%;
}

.modal-body {
    overflow-x: hidden;
    /* Deshabilitar desplazamiento horizontal en el modal */
}

.item-div{
    display: flex;
    justify-content: space-evenly;
}
.item-div-lg{
    display: flex;
    justify-content: space-between;
}

.item-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-scroll {
    max-height: 400px; 
    overflow-y: auto; 
}
.scroll-short{
    max-height: 300px;
    overflow-y: auto;
}
.modal-scroll-x{
    max-height: 400px; 
    overflow-x: auto; 
}

.bg-color-magenta{
    background-color: #fb226b;
}
.bg-color-darkmagenta{
    background-color: #db1d5d;
}

.bg-color-gray{
    background-color: #3b3b3b;
    color: #c2c2c2;
}